.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 50vw;
  padding: 20px;
  background-color: #f2f2f2;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .bold {
    font-weight: bold;
  }

  .prod {
    display: flex;
    gap: 10px;
  }
  
  .cursive {
    font-style: italic;
  }

  .center{
    text-align: center;
  }

  .actions{
    display: flex;
    gap: 10px;
    justify-content: center;

    button{
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      color: #771f08;
      border: 1px solid #771f08;
      
    }
    
    button:hover{
      background-color: #771f08;
      color: #fff;  
    }
  }

  .totalAmount {
    display: flex;
    justify-content: space-between;
  }

  .btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      border-radius: 20px;
      padding: 10px 30px;
      cursor: pointer;
    }

    .close {
      background-color: #f2f2f2;
      color: #771f08;
      border: 1px solid #771f08;
    }

    .close:hover {
      background-color: #891818;
      color: #f2f2f2;
    }
    .order {
      background-color: #771f08;
      color: #f2f2f2;
      border: none;
    }

    .order:hover {
      background-color: #891818;
      color: #f2f2f2;
    }
  }
}